<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Home.Properties.Settings.companyConnectionString"
            connectionString="Data Source=DESKTOP-69CP5K3;Initial Catalog=company;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>